@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* ------------- Shared Styles ------------- */
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 0 240px;
}
/* ------------- Header Styles ------------- */
header {
  background-color: rgba(229, 84, 115, 0.1);
  padding: 0 240px;
  padding-top: 50px;
}
.banner-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 97px;
}
.banner-col h1 {
  width: 708px;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.banner-col p {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
}
.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  border: none;
}

/* ------------- End Of Header Styles ------------- */

/* ------------- Featured Styles ------------- */

.featured {
  padding: 0 240px;
  margin-top: 178px;
}
.featured-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-title h2 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.featured-title p {
  margin: 24px 0px 48px 0px;
  width: 594px;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.featured-row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.featured-col {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
}
.featured-row2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.tulip {
  background: rgba(167, 33, 98, 0.15);
}
.daisy {
  background: rgba(5, 151, 160, 0.15);
}
.Tulipa {
  background: rgba(71, 125, 17, 0.15);
}

.tulip img {
  padding: 110px 76px 0 76px;
}
.daisy img {
  padding: 117px 47px 51px 47px;
}
.Tulipa img {
  padding: 67px 75px 0 75px;
}
.featured-col3 {
  display: flex;
  justify-content: space-around;
}
.featured-col3 strong {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  font-family: "Poppins", sans-serif;
  margin-top: 32px;
  width: 15%;
}

/* -------------End Of Featured Styles ------------- */

.service {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 128px 0;
}
.service-row {
  width: 1440px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  gap: 100px;
  padding: 86px 175px;
}
.service-col {
  text-align: center;
  width: 100%;
  height: 200px;
}
.service-col img {
  width: 88px;
  height: 88px;
  margin-bottom: 24px;
}
.service-col em {
  color: rgba(39, 39, 39, 0.8);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  line-height: 35px;
}

/* -------------End Of Featured Styles ------------- */

/* -------------Sale Styles ------------- */

.sale {
  background: rgba(229, 84, 115, 0.05);
  padding: 100px 0;
}
.sale-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 186px;
  text-align: center;
}
.sale-col h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.sale-span {
  color: #e55473;
}
.sale-col p {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 32px;
}

/* -------------End Of Sale Styles ------------- */

/* -------------Instagram Styles ------------- */

.Instagram {
  padding: 128px 0 128px 0;
}

/* -------------End of Instagram Styles ------------- */
.Latest-deals {
  padding: 0 0 128px 0;
  margin: 0 240px;
}
.latest-deals-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../image/Rectangle\ 9.png");
  background-size: 1440px;
  height: 449px;
  border-radius: 8px;
}
.latest-deals-row {
  text-align: center;
}
.latest-deals-row h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.latest-deals-row em {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.em2 {
  margin-top: 16px;
  display: block;
}
.subscribe input {
  color: rgba(39, 39, 39, 0.6);
  width: 700px;
  height: 64px;
  border-radius: 8px;
  padding: 22px 22px;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
}
.subscribe {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/* --------- Footer section styles --------- */
footer {
  text-align: center;
  background-color: #111010;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h2 {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
}
.footer-container {
  padding: 128px 0;
}
footer em {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
footer p {
  width: 625px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 32px;
}
